//============================================================
// Colo VARIABLE - DEFAULT
/*------------------------------------------------------------*/
$c-green: #22B573;
$c-darkgreen: #1F2D27;
$c-lightgreen: #7AD3AB;
$c-txtgreen: #4C5752;
$c-greenpattern: #AFE4CD;
