//============================================================
// Colo VARIABLE - BLUSH
/*------------------------------------------------------------*/
$c-pink: #FF589A;
$c-darkpink: #401626;
$c-lightpink: #FFA4C8;
$c-txtpink: #7F5264;
$c-pinkpattern: #7F2C4D;
