//============================================================
// Colo VARIABLE - DEFAULT
/*------------------------------------------------------------*/
$c-green: #1A2C47;
$c-darkgreen: #1A2C47;
$c-lightgreen: #8EA2AE;
$c-txtgreen: #AFC2A6;
$c-greenpattern: #AFC2A6;
