//============================================================
// Colo VARIABLE - EARTH
/*------------------------------------------------------------*/
$c-brown: #B86114;
$c-darkbrown: #381E06;
$c-lightbrown: #B87E4B;
$c-txtbrown: #845B36;
$c-brownpattern: #381E06;
