//============================================================
// Colo VARIABLE - SKY
/*------------------------------------------------------------*/
$c-blue: #4BCEFF;
$c-darkblue: #133340;
$c-lightblue: #98E3FF;
$c-txtblue: #26677F;
$c-bluepattern: #26677F;
