@charset "UTF-8";

@font-face {
  font-family: "lovebird";
  src:url("fonts/lovebird.eot");
  src:url("fonts/lovebird.eot?#iefix") format("embedded-opentype"),
    url("fonts/lovebird.woff") format("woff"),
    url("fonts/lovebird.ttf") format("truetype"),
    url("fonts/lovebird.svg#lovebird") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "lovebird" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "lovebird" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-google:before {
  content: "\62";
}
.icon-instagram:before {
  content: "\63";
}
.icon-link:before {
  content: "\64";
}
.icon-love:before {
  content: "\65";
}
.icon-next:before {
  content: "\66";
}
.icon-prev:before {
  content: "\67";
}
.icon-swril:before {
  content: "\68";
}
.icon-twitter:before {
  content: "\69";
}
.icon-zoom:before {
  content: "\6a";
}
.icon-ornamen:before {
  content: "\6b";
}
.icon-heart:before {
  content: "\6c";
}
.icon-close:before {
  content: "\6d";
}
.icon-heart-loading:before {
  content: "\6e";
}
.icon-lieur-logo:before {
  content: "\6f";
}
