extends layouts/carousel

block content
  
  #content
    .carousel
      .carousel__content.default-4.small-4.medium-5
        .carousel__content__wrapper
          a(href="#bm-popup-1").open-inline-popup
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/moments-1-thumb@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/moments-1-thumb.jpg, images/moments-1-thumb@2x.jpg 2x", alt="Lunch at Ponte Vecchio")
          .carousel__content__text
            h3 Piggyback!
            p Cupcake ipsum dolor sit amet dragée lollipop. Liquorice pastry cheesecake. Gummi bears sweet icing biscuit I love candy… 
      //.carousel__content

      .carousel__content.default-4.small-4.medium-5
        .carousel__content__wrapper
          a(href="#bm-popup-2").open-inline-popup
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/moments-2-thumb@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/moments-2-thumb.jpg, images/moments-2-thumb@2x.jpg 2x", alt="Then, we took a ride ...")
          .carousel__content__text
            h3 Lunch at Ponte Vecchio
            p Cupcake ipsum dolor sit amet dragée lollipop. Liquorice pastry cheesecake. Gummi bears sweet icing biscuit I love candy… 
      //.carousel__content

      .carousel__content.default-4.small-4.medium-5
        .carousel__content__wrapper
          a(href="#bm-popup-3").open-inline-popup
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/moments-3-thumb@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/moments-3-thumb.jpg, images/moments-3-thumb@2x.jpg 2x", alt="...to the sea!")
          .carousel__content__text
            h3 Then, we took a ride ...
            p Cupcake ipsum dolor sit amet dragée lollipop. Liquorice pastry cheesecake. Gummi bears sweet icing biscuit I love candy… 
      //.carousel__content

      .carousel__content.default-4.small-4.medium-5
        .carousel__content__wrapper
          a(href="#bm-popup-2").open-inline-popup
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/moments-4-thumb@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/moments-4-thumb.jpg, images/moments-4-thumb@2x.jpg 2x", alt="Lunch at Ponte Vecchio")
          .carousel__content__text
            h3 ...to the sea!
            p Cupcake ipsum dolor sit amet dragée lollipop. Liquorice pastry cheesecake. Gummi bears sweet icing biscuit I love candy… 
      //.carousel__content

      .carousel__content.default-4.small-4.medium-5
        .carousel__content__wrapper
          a(href="#bm-popup-1").open-inline-popup
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/moments-6-thumb@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/moments-6-thumb.jpg, images/moments-6-thumb@2x.jpg 2x", alt="Lunch at Ponte Vecchio")
          .carousel__content__text
            h3 He proposed!
            p Cupcake ipsum dolor sit amet dragée lollipop. Liquorice pastry cheesecake. Gummi bears sweet icing biscuit I love candy… 
      //.carousel__content

    //.carousel