extends layouts/default

block content
  #top.banner
    .banner__img(style="background-image: url(images/rachelandtim.jpg)")
    .banner__gradient
      .banner__border
    .row
      .banner__text.default-7.small-4.xxlarge-8
        h1 Rachel <span>c</span> Tim
        h2 are tying the knot
        img(src="images/ornament.svg", alt="Love")
  //#top.banner

  nav#topnav
    .blurred
      .blurred__wrap
    .inner
      span.mobile-nav
        span Menu
      ul
        li(style={display: 'none'}): a(href="#top") &nbsp;
        li: a(href="#couple") The Couple
        li: a(href="#wedding") The Wedding
        li: a(href="#accommodations") Accommodations
        li: a(href="#gift") Registry
        li: a(href="#rsvp") RSVP
  //#topnav

  #content
    section#couple.couple
      .row
        h1.section__title The Couple
        .couple__part.default-6.small-4.medium-5
          h1 <span>d</span>
          .couple__photo.set-height-8x.set-width-8x.full-rounded.lomo
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/couple-1@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/couple-1.jpg, images/couple-1@2x.jpg 2x", alt="Rachel Flowers")
          h2 Rachel Flowers
          p Rachel Flowers grew up in Saint Johns, MI until she moved to Grand Rapids to attend Kendall College of Art and Design, where she received her BFA in Visual Communications. Today, she works as a frontend developer at DDM Marketing and Communications.
        //.couple__part

        .couple__part.default-6.small-4.medium-5
          h1 <span>e</span>
          .couple__photo.set-height-8x.set-width-8x.full-rounded.lomo
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/couple-2@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/couple-2.jpg, images/couple-2@2x.jpg 2x", alt="Tim Spitler")
          h2 Timothy Spitler
          p Tim, born and raised in Rockford, MI, spent most of his life working with his parents, which he loved. When they decided they wanted to retire, Tim was on the hunt for his next big gig. Now Tim gets to spend his days playing with "big boy toys" working for Vermeer.
        //.couple__part

      .row
        .couple__history.default-8.small-6.medium-10.center-block
          h4 We met through a mutual friend, and at first we had no interest in dating each other. However, it was winter time at the rental shop and Tim was endlessly bored. Having met a new friend he decided to text Rachel ALL DAY long, every day. Although this wasn't so bad, as we seemed to have an endless amount of things to talk to each other about. As we got to know each other, we realized that what we had been searching for in romance, was right in front of us. We spent the next year adventuring and falling madly in love. We were engaged in October <span>2015</span>, and now we're getting married!
    //#couple

    section#proposal.proposal.lightbg--green
      .row
        h1.section__title The Perfect Proposal
      .carousel
        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/convertible.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/convertible.jpg, images/convertible.jpg 2x", alt="Chilly Convertible Ride")
            .carousel__content__text
              h4 Chilly Convertible Ride!
              p It might of snowed the night before on the way up to Harbor Springs, but that didn't stop us from putting the top down.
        //.carousel__content

        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/tunneloftrees1.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/tunneloftrees1.jpg, images/tunneloftrees1.jpg 2x", alt="The Tunnel of Trees")
            .carousel__content__text
              h4 The Tunnel of Trees
              p The sun was shining and the colors were beautiful. Even with the 50 degree temps, with the windows up and the heat on, it was perfect.
        //.carousel__content

        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/tunneloftrees.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/tunneloftrees.jpg, images/tunneloftrees.jpg 2x", alt="A perfect day")
            .carousel__content__text
              h4 A Perfect Day
              p We stopped along the way at an antique shop, drank some hot spiced cider, and enjoyed some bluegrass musicians at a small general store where we grabbed some snacks.
        //.carousel__content

        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/thetrees.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/thetrees.jpg, images/thetrees.jpg 2x", alt="Wilderness State Park")
            .carousel__content__text
              h4 Wilderness State Park
              p Tim then said he wanted to go visit the point in Wilderness State Park, I was a little suspicious ...
        //.carousel__content

        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/thebeach.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/thebeach.jpg, images/thebeach.jpg 2x", alt="The Point")
            .carousel__content__text
              h4 The Point
              p While trying to find the perfect time to purpose, Tim threw the ring over his shoulder into the rocks, thinking it would be a good excuse to get down on one knee. As soon as he let if fly he realized that was a terrible idea and had no idea where it went. He told me to "look for cool rocks for the fish tank" while he frantically searched.
        //.carousel__content

        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/standingstump.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/standingstump.jpg, images/standingstump.jpg 2x", alt="The Stump")
            .carousel__content__text
              h4 The Stump
              p In my search for cool rocks I saw this awesome stump, after investigating it I decided to go out to the water. Tim had found the ring and realized that this was the spot, he placed the ring in the base of the stump and the asked me to come back to "stand on it so I can take a picture".
        //.carousel__content

        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/gotthering.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/gotthering.jpg, images/gotthering.jpg 2x", alt="Oh Look! A cool rock!")
            .carousel__content__text
              h4 Oh look! A cool rock!
              p After taking the picture he says "oh wait, look at this cool rock" where he went down and grabbed the ring from the stump, I had no idea what was going on until I saw something blue and sparkly in his hand, which I then proceed to scream, and then cry with joy!
        //.carousel__content

        .carousel__content.default-4.small-4.medium-5
          .carousel__content__wrapper
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/wereengaged.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/wereengaged.jpg, images/wereengaged.jpg 2x", alt="He Proposed")
            .carousel__content__text
              h4 He Proposed!
              p I of course said YES! We tried to get the mackinaw bridge in our happy "we're engaged" obligatory facebook photo post! And here we are now, about to begin our life full of adventures and "rock finding" together!
        //.carousel__content

      //.carousel
    //#proposal

    section#wedding.wedding.darkbg
      .section__border
      .row
        h1.section__title The Wedding
        .default-6.small-4.medium-8.center-block.center-text
          h4 We cordially invite you to join us in our wedding celebration! The wedding will be held on Saturday, September <span>10, 2016.</span> We'll start with the ceremony, then move to the backyard for the reception. Dress code will be dressy casual.
        .wedding__part.default-8.small-6.medium-12.center-block.center-text
          h2 Ceremony <span>b</span> Reception
          .image-container
            a(href="images/wedding-3@2x.jpg").image-popup.no-gallery
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/wedding-3@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/wedding-3.jpg, images/wedding-3@2x.jpg 2x", alt="Barry and Lynette's")
          h3 Barry <span>&</span> Lynette<span>'</span>s, <br>Saint Johns, Michigan
          h4 Saturday, September <span>10, 2016</span> <br> Ceremony at <span>4:00</span> PM, Reception at <span>6:00</span> PM
          p The ceremony and reception will be held at Rachel's parents house in St. Johns. Ceremony will begin in the front yard by the pond, and the Reception will be at back of the house in the tent. Parking will be available on site. Guests are also welcome to bring a tent to pitch in the woods if they would like to spend the night on property.
          a(href="https://goo.gl/maps/aiEJxWL3a7p" target="_blank").button Check the Map
        //.wedding__part
    //#wedding

    section#accommodations.accommodations.lightbg
      .row
        h1.section__title Accommodations
        .accommodations__content
          .default-6.small-4.medium-8.center-block.center-text
            h4 We have rooms blocked off for wedding guests at The Sleep Inn, in DeWitt. Mention the Flowers/Spitler wedding when you book. Alternately, you may get a room if available at the St. Johns Motel. Both locations are about a <span>12</span> minute drive from the wedding site.
            h4 Or, if you are feeling adventureous<span>/</span>do not wish to drive, you may set up a tent on the wedding site property. Please notify us in advance if you want to pitch a tent.
          .accommodations__slide
            .accommodations__slide__content
                .row
                  .default-6.small-4.medium-5.last
                    .image-container
                      a(href="images/wedding-1@2x.jpg").image-popup.no-gallery
                        picture
                          //if IE 9
                            video(style="display: none;")
                          source(srcset="images/wedding-1@2x.jpg", media="(min-width: 1281px)")
                          //if IE 9
                          img(srcset="images/wedding-1.jpg, images/wedding-1@2x.jpg 2x", alt="Sleep Inn Hotel")
                  .default-6.small-4.medium-5.first
                    h2 The Sleep Inn Hotel
                    p 1101 Commerce Park Dr<br> Dewitt, MI 48820<br /> Phone: (517) 669-8823
                    a(href="https://goo.gl/maps/RGp2oYt2tZw" target="_blank").default Check The Map → <br /><br />
                    .link
                     a(href="https://www.choicehotels.com/michigan/dewitt/sleep-inn-hotels/mi701?source=gglocaljn" target="_blank").button Make Reservations

                .row <br />
                  .default-6.small-4.medium-5.last
                    h2 Saint Johns Motel
                    p 1212 Old U.S. 27,<br> St Johns, MI 48879<br />Phone: (989) 224-2321
                    a(href="https://goo.gl/maps/bzhtekWj3pS2" target="_blank").default Check The Map → <br /><br />
                    .link
                      a(href="http://stjohnsmotel.com/reserve-a-room/3199618" target="_blank").button Make Reservations
                  .default-6.small-4.medium-5.first
                    .image-container
                      a(href="images/wedding-2@2x.jpg").image-popup.no-gallery
                        picture
                          //if IE 9
                            video(style="display: none;")
                          source(srcset="images/wedding-2@2x.jpg", media="(min-width: 1281px)")
                          //if IE 9
                          img(srcset="images/wedding-2.jpg, images/wedding-2@2x.jpg 2x", alt="Sleep Inn Hotel")
                //.accommodations__slide__content
              //.accommodations__slide

          // .accommodations__content
    // #accommodations

    section#moments.moments.lightbg--green
      .row
        h1.section__title Beautiful Moments
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-1.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-1-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-1-thumb.jpg, images/moments-1-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-2.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-2-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-2-thumb.jpg, images/moments-2-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-3.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-3-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-3-thumb.jpg, images/moments-3-thumb@2x.jpg 2x", alt="Beautiful Moments")

        .default-4.small-4.medium-5.moments__item.clear
          .image-container
            a(href="images/moments-4.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-4-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-4-thumb.jpg, images/moments-4-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-16.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-16-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-16-thumb.jpg, images/moments-16-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-6.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-6-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-6-thumb.jpg, images/moments-6-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item.pull-right
          .image-container
            a(href="images/moments-5.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-5-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-5-thumb.jpg, images/moments-5-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-12.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-12-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-12-thumb.jpg, images/moments-12-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item.clear
          .image-container
            a(href="images/moments-21.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-21-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-21-thumb.jpg, images/moments-21-thumb@2x.jpg 2x", alt="Beautiful Moments")

        .default-4.small-4.medium-5.moments__item.pull-right
          .image-container
            a(href="images/moments-7.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-7-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-7-thumb.jpg, images/moments-7-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-10.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-10-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-10-thumb.jpg, images/moments-10-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item.clear
          .image-container
            a(href="images/moments-8.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-8-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-8-thumb.jpg, images/moments-8-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-22.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-22-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-22-thumb.jpg, images/moments-22-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-11.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-11-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-11-thumb.jpg, images/moments-11-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item.clear
          .image-container
            a(href="images/moments-15.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-15-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-15-thumb.jpg, images/moments-15-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-9.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-9-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-9-thumb.jpg, images/moments-9-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-17.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-17-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-17-thumb.jpg, images/moments-17-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-25.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-25-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-25-thumb.jpg, images/moments-25-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item.clear
          .image-container
            a(href="images/moments-20.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-20-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-20-thumb.jpg, images/moments-20-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-19.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-19-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-19-thumb.jpg, images/moments-19-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-23.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-23-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-23-thumb.jpg, images/moments-23-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item.pull-right
          .image-container
            a(href="images/moments-14.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-14-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-14-thumb.jpg, images/moments-14-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-13.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-13-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-13-thumb.jpg, images/moments-13-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item.clear
          .image-container
            a(href="images/moments-18.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-18-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-18-thumb.jpg, images/moments-18-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-24.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-24-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-24-thumb.jpg, images/moments-24-thumb@2x.jpg 2x", alt="Beautiful Moments")
        .default-4.small-4.medium-5.moments__item
          .image-container
            a(href="images/moments-26.jpg").image-popup
              picture
                //if IE 9
                  video(style="display: none;")
                source(srcset="images/moments-26-thumb@2x.jpg", media="(min-width: 1281px)")
                //if IE 9
                img(srcset="images/moments-26-thumb.jpg, images/moments-26-thumb@2x.jpg 2x", alt="Beautiful Moments")

    // #moments

    section#people.people.lightbg
      .row
        h1.section__title Awesome People
        .couple__part.default-6.small-4.medium-5
          h3 The Bride's Parents
          .couple__photo.set-height-8x.set-width-8x.full-rounded.lomo
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/people-1@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/people-1.jpg, images/people-1@2x.jpg 2x", alt="Peter & Scarlet Johansson")
          h2 Barry <span>c</span> Lynette Flowers
          p Barry and Lynette have been married for almost 35 years. Their amazing relationship is something that Rachel aspires to have in her own marriage. They've tought Rachel the value of hard work and how hard work rewards you with the ability to have fun and play. They've always been a very close family, camping, playing, and going on crazy pirate adventures together.
        //.couple__part

        .couple__part.default-6.small-4.medium-5
          h3 The Groom's Parents
          .couple__photo.set-height-8x.set-width-8x.full-rounded.lomo
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/people-2@2x.jpg", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/people-2.jpg, images/people-2@2x.jpg 2x", alt="Keeanu & Linda Reeves")
          h2 Jerry <span>c</span> Debby Spitler
          p Jerry and Debby .... Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
        //.couple__part

        .default-6.small-4.medium-5.nest
          h3 The Bridesmaids
          ul.people__list
            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-3@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-3.jpg, images/people-3@2x.jpg 2x", alt="Clara Johansson")
              .people__text.default-8.small-4.medium-10
                h3 Rose Dykema
                p Rachel and Rose met when they worked together at the Black Rose Irish Pub in Grand Rapids over 10 years ago. They are often mistaken for as sisters, even by family members, even if not sisters by blood, they are definitely sisters of the heart.

            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-4@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-4.jpg, images/people-4@2x.jpg 2x", alt="Louise Murdoch")
              .people__text.default-8.medium-10.small-4
                h3 Jenna Dykehouse
                p Jenna is Rachel's fun loving, adventourous, food and wine loving best friend. One of their favorite pastimes is coming back to Rachel's downtown apartment after the bars shut down and Jenna making delicous drunken meals out of crazy leftover ingredients in Rachel's fridge.

            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-5@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-5.jpg, images/people-5@2x.jpg 2x", alt="Lisa Lawson")
              .people__text.default-8.medium-10.small-4
                h3 Kristin Slough
                p Kristin and Rachel have been the closest of friends since 6th grade. From working together at Andy T's, to sexy spy shenanigans in middle school, and trips to seaworld, Kristin is and always will be one of Rachel's closest friends.
          // .people__list

        .default-6.small-4.medium-5.nest
          h3 The Groomsmen
          ul.people__list
            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-7@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-7.jpg, images/people-7@2x.jpg 2x", alt="Benjamin Reeves")
              .people__text.default-8.medium-10.small-4
                h3 Andy Zevalkink
                p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.

            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-8@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-8.jpg, images/people-8@2x.jpg 2x", alt="Anton Martin")
              .people__text.default-8.medium-10.small-4
                h3 Max VanderWerff
                p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.

            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-9@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-9.jpg, images/people-9@2x.jpg 2x", alt="Edward Peterson")
              .people__text.default-8.medium-10.small-4
                h3 Ryan Petrovich
                p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur.

        .default-6.small-4.medium-5.nest.flower-girl
          h3 The Flower Girl
          ul.people__list
            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-11@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-11.jpg, images/people-11@2x.jpg 2x", alt="Remy Johansson")
              .people__text.default-8.medium-10.small-4
                h3 Evie VanderWerff
                p Evie is the daughter of Max and Amie, even if she's only two, she has no problem keeping up with her two big brothers. Maecenas sed diam eget risus varius blandit sit amet non magna.
          //.people__list

        .default-6.small-4.medium-5.nest
          h3 The Ring Bearer
          ul.people__list
            li
              .default-4.small-4.medium-5
                .image-container.full-rounded.lomo
                  picture
                    //if IE 9
                      video(style="display: none;")
                    source(srcset="images/people-12@2x.jpg", media="(min-width: 1281px)")
                    //if IE 9
                    img(srcset="images/people-12.jpg, images/people-12@2x.jpg 2x", alt="Isaiah Reeves")
              .people__text.default-8.medium-10.small-4
                h3 Lucas Dykema
                p Lucas is Rose and Patrick's son, at the wonderful age of two, he may look like his father, but he sure does act like his mother. He is an expert at getting into everything and causing lots of trouble, don't let that precious blueberry face fool you!
          //.people__list
    // #people

    section#gift.gift.lightbg--green
      .row
        h1.section__title Gift Registry
        .gift__text.default-6.small-4.medium-8.center-block.center-text
          h4 Gifts are cool if you still wanna be our friends. Just kidding! The most important gift you can bring us is having you and your silly jokes at our celebration. But still, if you would like to get us something, we’d love that too…you can find our registry below.
          a(href="http://www.zola.com/registry/thespitlers")
            picture
              //if IE 9
                video(style="display: none;")
              source(srcset="images/registry-1@2x.png", media="(min-width: 1281px)")
              //if IE 9
              img(srcset="images/registry-1.png, images/registry-1@2x.png 2x", alt="Registry")

    // #gift

    section#rsvp.rsvp.darkbg
      .section__border
      .row
        h1.section__title RSVP
        .rsvp__text.default-6.small-4.medium-8.center-block.nest
          h4.center-text Celebrate with us. <br>Let us know if you can attend by August <span>1, 2016</span>. Hugs!
          form(action="/save.php", method="post", data-parsley-validate="")
            input(type="hidden", name="formAction", value="save")
            .default-6.small-4.medium-10
              label
                span First Name*
                input(type="text", name="firstName", placeholder="Johny", required)
            .default-6.small-4.medium-10
              label
                span Last Name*
                input(type="text", name="lastName", placeholder="Macan", required)
            .default-12.small-4.medium-10
              label
                span Email Address*
                input(type="email", name="email", placeholder="johny@macanmail.com",data-parsley-trigger="change", required)
            .default-12.small-4.medium-10
              label(class="radio-group")
                span Are you attending?
                label Hell Yes!
                  input(type="radio", name="isAttending", checked="checked" value="1")
                label Unfortunately, we can not.
                  input(type="radio", name="isAttending", value="0")
            .default-12.small-4.medium-10
              label
                span Who else is coming with you?
                input(type="text", name="othersAttending", placeholder="My grandma")
            .default-12.small-4.medium-10
              label
                span Song suggestions or any other messages?
                textarea(name="songSuggestions") Takin Care of Business - Bachman Turner Overdrive
            .default-12.small-4.medium-10.center-text.button-submit
              input(type="submit", value="submit").button

          h3.center-text.hidden.thankyou Thank You! We are waiting for you.
        //.rsvp__text
    //#rsvp
  //#content

  footer
    .row
      .default-12.small-4.medium-10.center-text
        p Designed with <span class="icon-heart"></span> by <a href="http://lieur.co", target="_blank"><span class="icon-lieur-logo"></span></a>.
  // footer

