extends layouts/grid-layout

block content
  header
    .row.no-bg
      .default-12.medium-10.small-4
        ul
          li: a(href="#colorscheme") Color Scheme
          li: a(href="#typography") Typography
          li
            a(href="#element") Element +    
            ul.submenu
              li: a(href="#table") Table
              li: a(href="#form") Form
              li: a(href="#button") Button
              li: a(href="#image") Image
          li: a(href="#grid") Grid
          li: a(href="#helperclass") Helper Class
  h1.center-text ≈ Lieur § Starter ≈
  .row.no-bg
    h1#colorscheme Color Scheme
    .box-color.default-3.medium-5.small-2
      .box-color__c-lightgreen
      span #7AD3AB
    .box-color.default-3.medium-5.small-2
      .box-color__c-green
      span #22B573
    .box-color.default-3.medium-5.small-2
      .box-color__c-txtgreen
      span #4C5752
    .box-color.default-3.medium-5.small-2
      .box-color__c-darkgreen
      span #1F2D27
    
  .row.no-bg
    h1#typography Typography
    .default-12.medium-10.small-4
      h1
        | Lorem ipsum dolor sit amet
      pre
        code.html
          = '<h1>Lorem ipsum dolor sit amet</h1>'

      h2 Aenean commodo ligula eget dolor aenean massa
      pre
        code.html
          = '<h2>Aenean commodo ligula eget dolor aenean massa</h2>'

      h3
        | Cum sociis natoque penatibus et magnis dis
        | parturient montes nascetur ridiculus mus
      pre
        code.html
          = '<h3>Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus</h3>'

      h4
        | Donec quam felis ultricies nec pellentesque eu
        | pretium quis sem nlla consequat massa quis enim
      pre
        code.html
          = '<h4>Donec quam felis ultricies nec pellentesque eu pretium quis sem nlla consequat massa quis enim</h4>'

      p
        | Lorem ipsum dolor sit amet, consectetuer adipiscing 
        | elit. Aenean commodo ligula eget dolor. Aenean massa 
        strong strong 
        | felis eu pede 
        a(href='#') link 
        | mollis pretium. Integer tincidunt. Cras dapibus.
        | Vivamus elementum semper nisi. Aenean vulputat.
      pre
        code.html
          = '<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa <strong>strong</strong> felis eu pede <a href="#" class="external ext">link</a> mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputat.</p>'
    .default-6.medium-5.small-4 
      ul
        li Lorem ipsum dolor sit amet consectetuer.
        li Aenean commodo ligula eget dolor.
        li Aenean massa cum sociis natoque penatibus.
      pre
        code.html
          = '<ul>'
          br
          = '<li>Lorem ipsum dolor sit amet consectetuer.</li>'
          br
          = '<li>Aenean commodo ligula eget dolor.</li>'
          br
          = '<li>Aenean massa cum sociis natoque penatibus.</li>'
          br
          = '</ul>'
    .default-6.medium-5.small-4  
      ol
        li Lorem ipsum dolor sit amet consectetuer.
        li Aenean commodo ligula eget dolor.
        li Aenean massa cum sociis natoque penatibus.
      pre
        code.html
          = '<ol>'
          br
          = '<li>Lorem ipsum dolor sit amet consectetuer.</li>'
          br
          = '<li>Aenean commodo ligula eget dolor.</li>'
          br
          = '<li>Aenean massa cum sociis natoque penatibus.</li>'
          br
          = '</ol>'
  
  .row.no-bg
    h1#element Element
    .default-6.medium-5.small-4
      h3#table Table
      .table-container
        table
          thead
            tr
              th Head 1
              th Head 2
              th Head 3
          tbody
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
            tr
              td Your content
              td Yes, it's true
              td No, you are not
      pre
        code.html
          = '<div class="table-container">' 
          br
          = '<table>'
          br
          =  '<thead>'
          br
          =   '<tr>'
          br
          =      '<th>Head 1</th>'
          br
          =      '<th>Head 2</th>'
          br
          =      '<th>Head 3</th>'
          br
          =    '</tr>'
          br
          =  '</thead>'
          br
          =  '<tbody>'
          br
          =    '<tr>'
          br
          =      '<td>Your content</td>'
          br
          =      '<td>Yes, its true</td>'
          br
          =      '<td>No, you are not</td>'
          br
          =    '</tr>'
          br
          =    ' ... '    
          br
          =  '</tbody>'
          br
          = '</table>'
          br
          = '</div>'

      h3#button Button
      a(href='#').button Button
      pre
        code.html
          = '<a href="#" class="button">Button</a>'
          
      h3#figure Figure
      figure
        img(src='http://placehold.it/480x240', alt='Placeholder Image')
        figcaption
          | A cheeky macaque, Lower Kintaganban River, Borneo. Original by 
          a(href='http://www.flickr.com/photos/rclark/') Richard Clark
      pre
        code.html
          = '<figure>'
          br
          = '<img src="http://placehold.it/480x240" alt="Placeholder Image">'
          br
          = '<figcaption>A cheeky macaque, Lower Kintaganban River, Borneo. Original by <a href="http://www.flickr.com/photos/rclark/">Richard Clark</a></figcaption>'
          br
          = '</figure>'

    .default-6.medium-5.small-4
      h3#form Form
      form(action='#')
        label
          span First Name:
          input(type='text', placeholder='Please fill this field')
        label
          span Last Name:
          input(type='text', placeholder='Please fill this field')
        pre
          code.html
            = '<label>'
            br
            = '<span>Last Name:</span>'
            br
            = '<input type="text" placeholder="Please fill this field">'
            br
            = '</label>'  

        label
          span Address:
          textarea
        pre
          code.html
            = '<label>'
            br
            = '<span>Address:</span>'
            br
            = '<textarea></textarea>'
            br
            = '</label>'

        label
          span Sex:
          ul
            li
              label
                input(type='radio', name='sex') 
                | Male
            li
              label
                input(type='radio', name='sex') 
                | Female
            li
              label
                input(type='radio', name='sex') 
                | Both
        pre
          code.html
            = '<label><span>Sex:</span>'
            br
            = '<ul>'
            br
            =  '<li>'
            br
            =    '<label>'
            br
            =      '<input type="radio" name="sex">Male'
            br
            =    '</label>'
            br
            =  '</li>'
            br
            = ' ... '  
            br  
            = '</ul>'
            br
            = '</label>'

        label
          span Favorite Food:
          ul
            li
              label
                input(type='checkbox') 
                | Nasi Goreng
            li
              label
                input(type='checkbox') 
                | Pecel
            li
              label
                input(type='checkbox') 
                | Soto Madura
        pre
          code.html
            = '<label><span>Favorite Food:</span>'
            br
            = '<ul>'
            br
            =  '<li>'
            br
            =    '<label>'
            br
            =      '<input type="checkbox">Nasi Goreng'
            br
            =    '</label>'
            br
            =  '</li>'
            br
            = ' ... '  
            br  
            = '</ul>'
            br
            = '</label>'
  .row.no-bg
    .default-6.medium-5.small-4
      h3#image Image
      .image-container
        img(src="http://placehold.it/510x335")
      pre
        code.html
          = '<div class="image-container">'
          br
          = '<img src="http://placehold.it/510x335">'
          br
          = '</div>'
    .default-6.medium-5.small-4
      h3 &nbsp;
      .image-container.set-height-8x.set-width-8x.full-rounded
        img(src="http://placehold.it/240x240")
      pre
        code.html
          = '<div class="image-container set-height-8x set-width-8x full-rounded">'
          br
          = '<img src="http://placehold.it/240x240">'
          br
          = '</div>'
      p.center-text Or
      pre
        code.html
          = '<div class="image-container full-rounded">'
          br
          = '<img src="http://placehold.it/240x240">'
          br
          = '</div>'
      .warning
        p <b>Note</b>: You can avoid class <em>.set-height-8x</em> and <em>.set-width-8x</em> if you want to fit image to grid/column.
          | <em>.set-height-8x</em> and <em>.set-width-8x</em> are means set height and width with value <em>8 x 1.5rem</em>. It's available from 1 to 20. <br>Available on <a href="#helperclass">Helper Class.</a>
 
  .row
    h1#grid Grid

    h3 Grid Class
    .table-container
      table.grid-table
        thead
          tr
            th Class
            th Resolution
            th Columns
        tbody
          tr
            td 
              .code .default-*
            td <span class="txtgreen"><em> >= 64em </em></span> / <span class="txtgreen"><em> >= 1024px </em></span>
            td 1 to 12
          tr
            td 
              .code .medium-*
            td from <span class="txtgreen"><em>48em</em></span> to <span class="txtgreen"><em>63.9375em</em></span> / from <span class="txtgreen"><em>768px</em></span> to <span class="txtgreen"><em>1023px</em></span>
            td 1 to 10
          tr
            td 
              .code .small-*
            td from <span class="txtgreen"><em>0</em></span> to <span class="txtgreen"><em>47.9375em</em></span> / from <span class="txtgreen"><em>0</em></span> to <span class="txtgreen"><em>767px</em></span>
            td 1 to 4

    - for (var i = 0; i < 12; i++) {
      div(class='default-1 medium-5 small-4') .default-1 <br> .medium-5 <br> .small-4
    - }

  .row
    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
          br
          = '<div class="default-1 medium-5 small-4"></div>'
  .row
    - for (var i = 0; i < 6; i++) {
      div(class='default-2 medium-2 small-2') .default-2 <br> .medium-2 <br> .small-2
    - }

    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-2 medium-2 small-2"></div>'
          br
          = '<div class="default-2 medium-2 small-2"></div>'
          br
          = '<div class="default-2 medium-2 small-2"></div>'
          br
          = '<div class="default-2 medium-2 small-2"></div>'
          br
          = '<div class="default-2 medium-2 small-2"></div>'
          br
          = '<div class="default-2 medium-2 small-2"></div>'

  .row
    div(class='default-3 medium-3 small-1') .default-3 <br> .medium-3 <br> .small-1
    div(class='default-3 medium-7 small-3') .default-3 <br> .medium-7 <br> .small-3
    div(class='default-3 medium-6 small-3') .default-3 <br> .medium-6 <br> .small-3
    div(class='default-3 medium-4 small-1') .default-3 <br> .medium-4 <br> .small-1

    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-3 medium-3 small-1"></div>'
          br
          = '<div class="default-3 medium-7 small-3"></div>'
          br
          = '<div class="default-3 medium-6 small-3"></div>'
          br
          = '<div class="default-3 medium-4 small-1"></div>'

  .row
    div(class='default-4 medium-2 small-2') .default-4 <br> .medium-2 <br> .small-2
    div(class='default-4 medium-8 small-2') .default-4 <br> .medium-8 <br> .small-2
    div(class='default-4 medium-5 small-1') .default-4 <br> .medium-5 <br> .small-1

    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-4 medium-2 small-2"></div>'
          br
          = '<div class="default-4 medium-8 small-2"></div>'
          br
          = '<div class="default-4 medium-5 small-1"></div>'
  
  .row
    div(class='default-6 medium-9 small-2') .default-6 <br> .medium-9 <br> .small-2
    div(class='default-6 medium-1 small-1') .default-6 <br> .medium-1 <br> .small-2

    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-4 medium-2 small-2"></div>'
          br
          = '<div class="default-4 medium-8 small-2"></div>'
          br
          = '<div class="default-4 medium-5 small-1"></div>'
  
  .row
    div(class='default-12 medium-10 small-4') .default-12 <br> .medium-10 <br> .small-4

    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-12 medium-10 small-4"></div>'

  .row
    .default-8.nest.medium-8.small-4
      .default-5.medium-5.small-4 NEST <br> .default-5  <br> .medium-5 <br> .small-4
      .default-3.last.medium-3.small-4 NEST LAST <br> .default-3  <br> .medium-3 <br> .small-4

    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-8 nest medium-8 small-4">'
          br
          = '<div class="default-5 medium-5 small-4"></div>'
          br
          = '<div class="default-3 last medium-3 small-4"></div>'
          br
          = '</div>'

  .row
    .default-6.center-block.medium-5.small-2 CENTER <br> .default.6  <br> .medium-5 <br> .small-2

    .default-12.medium-10.small-4
      pre
        code.html
          = '<div class="default-6 center-block medium-5 small-2">'
  
  .row.no-bg
    h1#helperclass Helper Class
    .table-container
        table.helperclass-table
          thead
            tr
              th Class
              th Description
          tbody
            tr
              td.code
                = '.left-text'
              td Make text align left
            tr
              td.code
                = '.right-text'
              td Make text align right
            tr
              td.code
                = '.center-text'
              td Make text align center
            tr
              td.code
                = '.set-height-2x'
              td Set height value with 2 x 1.5rem. It's available from 1 to 20
            tr
              td.code
                = '.set-width-2x'
              td Set width value with 2 x 1.5rem. It's available from 1 to 20 

  .row.no-bg
    .center-text
      p Designed by <a href="http://lieur.co", target="_blank">Lieur Co</a>.