body {
    color: #4C5752
}

a {
    color: #22B573;
    text-decoration: none;
    transition: .4s
}

a:hover,
h1,
h2,
h3 {
    color: #1F2D27
}

.mobile-nav {
    color: #fff
}

.mobile-nav span {
    background: rgba(34, 181, 115, .8)
}

.loader {
    background: #22B573
}

.loader .heartbeat-loader:not(:required):after,
.loader .heartbeat-loader:not(:required):before {
    background: 0 0;
    color: #7AD3AB
}

form input[type=text],
form input[type=email],
form input[type=password],
form textarea {
    box-shadow: 0 0 5px rgba(34, 181, 115, 0);
    border: 1px solid rgba(34, 181, 115, 0)
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form textarea:focus {
    outline: 0;
    border: 1px solid #22b573;
    box-shadow: 0 0 5px #22b573
}

.image-container a:hover:before {
    background: rgba(34, 181, 115, .8)
}

.image-container a:before {
    background: rgba(34, 181, 115, 0)
}

.button {
    border-color: #22B573;
    color: #22B573;
    background: 0 0
}

.button:hover {
    background: #22B573;
    color: #fff;
    border-color: #22B573
}

.banner__gradient {
    background-image: linear-gradient(to right, #22B573 37.5%, rgba(34, 181, 115, 0));
    opacity: .8
}

.banner__border {
    border-style: solid;
    border-color: #fff
}

.couple__photo,
.image-border,
.image-container,
.mfp-figure:after,
.section__border:before {
    border-color: #22B573
}

.banner h1,
.banner h2 {
    color: #fff
}

.banner h2 {
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase
}

#topnav,
#topnav .inner,
.topnav,
.topnav .inner {
    background: rgba(34, 181, 115, .8)
}

#topnav .inner a,
.topnav .inner a {
    color: #fff;
    transition: .4s
}

#topnav .inner a:hover,
#topnav .inner li.current a,
.topnav .inner a:hover,
.topnav .inner li.current a {
    color: #1F2D27
}

.lomo {
    position: relative
}

.lomo:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border-radius: 100%;
    background: radial-gradient(160px circle at 30% 10%, #FFB100, rgba(255, 255, 255, 0)), radial-gradient(300px circle at 80% 60%, #4DC28E, rgba(255, 255, 255, 0));
    mix-blend-mode: overlay;
    opacity: 0;
    transition: .4s
}

.lomo:hover:after {
    opacity: 1
}

.lightbg {
    background: url(../images/light-pattern.jpg) #fefefc
}

.lightbg--green {
    background: url(../images/light-pattern.jpg) #b3e6cf;
    position: relative
}

.lightbg--green>* {
    position: relative;
    z-index: 1
}

.lightbg--green:after,
.mfp-bg.mfp-moment:after,
.mfp-bg.mfp-velocity:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.lightbg--green:after {
    background: #22B573;
    opacity: .1
}

.darkbg {
    background: url(../images/dark-pattern.jpg) #25362f
}

.darkbg .button,
.darkbg .section__title,
.darkbg form label>span,
.darkbg h2,
.darkbg h3,
.darkbg h4,
.darkbg p {
    color: #fff
}

.section__title:after,
.section__title:before,
.social li a {
    color: #22B573
}

.social li a {
    transition: .4s
}

#accommodations .pws_tabs_container .pws_tabs_controll li a,
.accommodations .pws_tabs_container .pws_tabs_controll li a,
.accommodations__content h2,
.social li a:hover {
    color: #1F2D27
}

.carousel__content__wrapper>a:hover:before {
    background: rgba(34, 181, 115, .8)
}

.carousel__content__wrapper>a:before {
    background: rgba(34, 181, 115, 0)
}

.carousel__content__text {
    background: #fff
}

#accommodations .pws_tabs_container .pws_tabs_controll li a.pws_tab_active,
.accommodations .pws_tabs_container .pws_tabs_controll li a.pws_tab_active,
.gift__carousel .slick-next,
.gift__carousel .slick-next:focus,
.gift__carousel .slick-next:focus:hover,
.gift__carousel .slick-next:hover,
.gift__carousel .slick-prev,
.gift__carousel .slick-prev:focus,
.gift__carousel .slick-prev:focus:hover,
.gift__carousel .slick-prev:hover {
    background: 0 0
}

#accommodations .pws_tabs_container .pws_tabs_controll li a.pws_tab_active:after,
.accommodations .pws_tabs_container .pws_tabs_controll li a.pws_tab_active:after {
    border-color: #22B573;
    opacity: 1
}

.gift__carousel .slick-next:before,
.gift__carousel .slick-prev:before {
    color: #22B573;
    transition: .4s
}

.gift__carousel .slick-next:hover:before,
.gift__carousel .slick-prev:hover:before {
    color: #7AD3AB
}

.slick-initialized .slick-slide {
    outline: 0
}

.slick-next,
.slick-next:focus,
.slick-prev,
.slick-prev:focus {
    background: rgba(34, 181, 115, .8)
}

.slick-next:focus:hover,
.slick-next:hover,
.slick-prev:focus:hover,
.slick-prev:hover {
    background: #22b573
}

.mfp-bg {
    background: #22B573;
    opacity: .5
}

.mfp-figure:after {
    background: 0 0;
    box-shadow: none
}

.mfp-counter {
    color: rgba(255, 255, 255, .7)
}

.mfp-arrow-left,
.mfp-arrow-right {
    color: #22B573;
    opacity: 1
}

.mfp-arrow-left:hover:before,
.mfp-arrow-right:hover:before {
    color: #1F2D27
}

.mfp-bg.mfp-moment,
.mfp-bg.mfp-velocity {
    background: url(../images/light-pattern.jpg) #99ddbe;
    opacity: 1
}

.mfp-bg.mfp-moment:after,
.mfp-bg.mfp-velocity:after {
    background: #22B573;
    opacity: .1
}

.mfp-close {
    opacity: 1
}

.mfp-close:before {
    color: #22B573
}

.mfp-close:hover:before {
    color: #1F2D27
}

.popup {
    background: #fff
}

.parsley-errors-list {
    color: #22B573
}

footer {
    background: #22B573
}

footer p {
    color: #fff;
    font-weight: 700
}

footer .icon-heart {
    color: #EC1C24
}

footer a {
    color: #fff
}

.ua-ie-9 .banner__gradient {
    background: rgba(34, 181, 115, .3)
}

@media (min-width:0) and (max-width:47.9375em) {
    .slick-next:before,
    .slick-next:focus:before,
    .slick-next:focus:hover:before,
    .slick-next:hover:before,
    .slick-prev:before,
    .slick-prev:focus:before,
    .slick-prev:focus:hover:before,
    .slick-prev:hover:before {
        color: #22B573
    }
    .slick-next:focus:hover,
    .slick-next:hover,
    .slick-prev:focus:hover,
    .slick-prev:hover {
        background: 0 0
    }
}

@media (min-width:48em) and (max-width:63.9375em) {
    .slick-next:before,
    .slick-next:focus:before,
    .slick-next:focus:hover:before,
    .slick-next:hover:before,
    .slick-prev:before,
    .slick-prev:focus:before,
    .slick-prev:focus:hover:before,
    .slick-prev:hover:before {
        color: #22B573
    }
    .slick-next:focus:hover,
    .slick-next:hover,
    .slick-prev:focus:hover,
    .slick-prev:hover {
        background: 0 0
    }
}