// ===============================
//  HELPER CLASS
// ================================

.left-text{
    text-align: left;
}
.right-text{
    text-align: right;
}
.center-text{
    text-align: center;
}
.hidden{
    display: none;
}

.clear {
  clear: both;
}

.pull-right { float: right; }

.row{
	.first{
		float: left;
	}
	.last{
    	float: right;
    }
    .nest{
    	padding-left: 0;
    	padding-right: 0;
    	@extend %clearfix;
    }
    .center-block{
    	float: none;
    	margin-left: auto;
    	margin-right: auto;
    }
}

@for $i from 1 through 20 {
    .set-height-#{$i}x{
        @include remunit(height, $i*$default-line-height);
    }
    .set-width-#{$i}x{
        @include remunit(width, $i*$default-line-height);
    }
}


%clearfix{
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after{
        clear: both;
    }
}