@import "bower_components/susy/sass/_susy.scss";


$c-green: #1A2C47;
$c-darkgreen: #1A2C47;
$c-lightgreen: #8EA2AE;
$c-txtgreen: #AFC2A6;
$c-greenpattern: #AFC2A6;
$c-copper: #894E30;

/* ===================================== 
	BREAKPOINT RANGE SETUP 
----------------------------------------- */
$breakpoint: (
	frommedium: 48em,
	small: 0 47.9375em, // 0 - 767px
	medium: 48em 63.9375em, // 768px - 1023px
	large: 64em, // >= 1024px 
	x-large: 80.0625em, // >= 1281px
	xx-large: 100em
);

$bp-frommedium: map-get($breakpoint, frommedium);
$bp-small: map-get($breakpoint, small);
$bp-medium: map-get($breakpoint, medium);
$bp-large: map-get($breakpoint, large);
$bp-xlarge: map-get($breakpoint, x-large);
$bp-xxlarge: map-get($breakpoint, xx-large);


//============================================================
// TYPOGRAPHY THINGHY
/*------------------------------------------------------------
	VERTICAL RYTHM COMPASS -- 
	kidding, it just use to display baseline grid :P
--------------------------------------------------------------*/
	$base-font-size: 16px;
	$base-line-height: 24px;
// ----------------------------------------------------------

// REM-SASS function config --------------------------------//
// https://github.com/pierreburel/sass-rem

$rem-baseline: 16px;
$rem-fallback: false;
$rem-px-only: true;

// -------------------------------------------------------- //

// MODULARE SCALE CONFIG
$ms-base: $rem-baseline;
$ms-ratio: 1.5;
$default-line-height: 1.5rem; // -> THIS THE MAGIC NUMBER: http://csswizardry.com/2012/06/single-direction-margin-declarations/;
$small-line-height: 1.2rem;

// http://www.gridlover.net/app/ with setting -> Font Size: 16px - Line Height: 1.5 - Scale Factor: 1.5
// EDIT -> using MODULARE SCALE CONFIG; add $xx-ms-var and ms();
$mod-sizes: (
	big: 3.5,
	h1: 3,
	h2: 2,
	h3: 1.5,
	h4: 1,
	default: 0,
	small: 0
);

$break-bases: (
  $bp-small: 10px,
  $bp-frommedium: 16px,
  $bp-xxlarge: 24px
);


//============================================================
// FONT VARIABLE
/*------------------------------------------------------------*/

@import "../base/fonts";

$f-playfair: 'pillowbook', serif;
$f-ornaments: 'pillowbookornaments', serif;
$f-sourcesanpro: 'Source Sans Pro', sans-serif;
$f-woodcabin: 'woodcabin', sans-serif;